
@{
    ViewBag.Title = "Error";
}

@Html.Partial("Error")

<h4 style="color:black">We're having trouble signing you in.</h4>
<p style="color:red">@ViewBag.ErrorMessage</p>
@if (ViewBag.SignIn != null)
{ 
    <h4>Click @Html.ActionLink("here", "SignIn", "Account", null, null) to re-authenticate.</h4>
}

